{% extends 'base.html' %}
{% load i18n %}


{% block content %}

<h1>{% trans "Вхід" %}</h1>
<form method="post" class="form">
    {% csrf_token %}
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <input type="text" id="id_username" name="username" placeholder="{% trans "Ім'я користувача" %}" class="input" value="{{ request.POST.username }}">
    <input type="password" id="id_password" name="password" placeholder="{% trans "Пароль" %}" class="input">
    <button type="submit" class="form-button">{% trans "Увійти" %}</button>
</form>
<p>{% trans "Ще не зареєстровані?" %} <a href="{% url 'register' %}">{% trans "Зареєструватись" %}</a></p>



{% endblock %}