{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<h1>{{ idea.name }}</h1>

<div>
    <form id="saveIdeaForm" method="post" data-idea-id="{{ idea.id }}">
        {% csrf_token %}
        <button type="submit" class="idea-button {% if idea in request.user.profile.saved_ideas.all %}saved{% endif %}" onclick="saveIdea('{{ idea.id }}')">
            <span class="idea-icon">🔖</span>
        </button>
    </form>
</div>

<p>{% autoescape off %}{{ idea.description }}{% endautoescape %}</p>


{% if idea.author == user %}
<p><a href="{% url 'idea_edit' idea_id=idea.id %}">{% trans "Редагувати ідею" %}</a></p>
<p><a href="{% url 'idea_delete' idea_id=idea.id %}" style="text-decoration: none; color: red">{% trans "Видалити ідею" %}</a></p>
  {% endif %}

<h3>{% trans "Проєкти, створені за допомогою цієї ідеї" %}</h3>
{% for project in projects %}
<div class="project-card">
    <div class="project-info">
        <h2><a href="{% url 'project_detail' project.id %}" style="text-decoration: none">{{ project.name }}</a></h2>
        <p>{% autoescape off %}{{ project.description }}{% endautoescape %}</p>
    </div>
    <div class="project-action">
        <button class="like-button" data-project-id="{{ project.id }}">
            <span class="like-icon">👊</span>
            <span class="like-count">{{ project.likes }}</span>
        </button>
    </div>
</div>
{% empty %}
<p>{% trans "За цією ідеєю ніхто поки не створював проєктів. Стань першим!" %}</p>
{% endfor %}
<button><a href="{% url 'publish_with_idea' idea.id %}">{% trans "Створити проєкт за цією ідеєю" %}</a></button>
{% endblock %}


