{% extends 'base.html' %}

{% block content %}
<h1>{{ profile.user.username }}</h1>
{% if request.user == user %}
<form method="POST" action="{% url 'edit_profile' user_id=profile.user.id %}" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea placeholder="Додай опис профілю" name="content" class="textarea">{{ profile.description }}</textarea>
    <input class="input" type="url" placeholder="Посилання на месенджер" name="chat_element" value="{{ profile.chat_element }}">
    <button type="submit" class="form-button">Змінити профіль</button>
</form>
{% else %}
<p>{{ profile.description }}</p>
<form class="form">
    <button class="form-button"><a href="{{ profile.chat_element }}">Зв'язатися</a></button>
</form>
{% endif %}

<h3>Створені проєкти</h3>
  {% for project in created_projects %}
<div class="project-card">
    <div class="project-info">
        <h2><a href="{% url 'project' project.id %}" style="text-decoration: none">{{ project.name }}</a></h2>
        <p>{% autoescape off %}{{ project.description }}{% endautoescape %}</p>
    </div>
    <div class="project-action">
        <form id="saveProjectForm" method="post" action="{% url 'save_project' project_id=project.id %}" data-project-id="{{ project.id }}">
            {% csrf_token %}
            <button type="submit" class="like-button {% if project in request.user.profile.favorite_projects.all %}favorited{% endif %}" onclick="saveProject('{{ project.id }}')">
                <span class="like-icon">👊</span>
                <span class="like-count" id="like-count-{{ project.id }}">{{ project.likes }}</span>
            </button>
        </form>
    </div>
</div>
  {% empty %}
<p>Користувач не створив жодного проєкту.</p>
  {% endfor %}

<h3>Створені ідеї</h3>
  {% for idea in created_ideas %}
<div class="idea-card">
    <div class="idea-info">
        <h2><a href="{% url 'idea_detail' idea.id %}" style="text-decoration: none">{{ idea.name }}</a></h2>
        <p>{% autoescape off %}{{ idea.description }}{% endautoescape %}</p>
    </div>
    <div class="idea-action">
        <form id="saveIdeaForm" method="post" data-idea-id="{{ idea.id }}">
            {% csrf_token %}
            <button type="submit" class="idea-button {% if idea in request.user.profile.saved_ideas.all %}saved{% endif %}" onclick="saveIdea('{{ idea.id }}')">
                <span class="idea-icon">🔖</span>
            </button>
        </form>

    </div>
</div>
  {% empty %}
<p>Користувач не створив жодної ідеї.</p>
  {% endfor %}

<h3>Проєкти, з якими солідарний</h3>
{% for project in profile.favorite_projects.all %}
<div class="project-card">
    <div class="project-info">
        <h2><a href="/project/{{ project.id }}" style="text-decoration: none">{{ project.name }}</a></h2>
        <p>{% autoescape off %}{{ project.description }}{% endautoescape %}</p>
    </div>
    <div class="project-action">
        <form id="saveProjectForm" method="post" action="{% url 'save_project' project_id=project.id %}" data-project-id="{{ project.id }}">
            {% csrf_token %}
            <button type="submit" class="like-button {% if project in request.user.profile.favorite_projects.all %}favorited{% endif %}" onclick="saveProject('{{ project.id }}')">
                <span class="like-icon">👊</span>
                <span class="like-count" id="like-count-{{ project.id }}">{{ project.likes }}</span>
            </button>
        </form>

    </div>
</div>
{% empty %}
<p>Користувач не обрав жодного проєкту.</p>
{% endfor %}

<h3>Відкладені ідеї</h3>
{% for idea in saved_ideas %}
<div class="idea-card">
    <div class="idea-info">
        <h2><a href="{% url 'idea_detail' idea.id %}" style="text-decoration: none">{{ idea.name }}</a></h2>
        <p>{% autoescape off %}{{ idea.description }}{% endautoescape %}</p>
    </div>
    <div class="idea-action">
        <form id="saveIdeaForm" method="post" data-idea-id="{{ idea.id }}">
            {% csrf_token %}
            <button type="submit" class="idea-button {% if idea in request.user.profile.saved_ideas.all %}saved{% endif %}" onclick="saveIdea('{{ idea.id }}')">
                <span class="idea-icon">🔖</span>
            </button>
        </form>
    </div>
</div>
{% empty %}
<p>Користувач поки не відклав собі жодної ідеї.</p>
{% endfor %}

{% if request.user == user %}
<p><a href="{% url 'logout' %}">Вийти з акаунту</a></p>
{% endif %}

{% endblock %}