{% extends 'base.html' %}

{% block content %}

<h2>Додати новину</h2>

<form method="post" action="{% url 'add_news' project_id=project.id %}" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" class="input" required>
    <textarea name="content" class="textarea" required></textarea>
    <!--
    <input type="file" name="image" accept="image/*" id="imageInput">
    <label for="imageInput" class="file-input-label">Виберіть файл</label>
    -->
    <button type="submit" class="form-button">Додати новину</button>
</form>

<p><a href="{% url 'project' project_id=project.id %}">Скасувати</a></p>

{% endblock %}