{% extends 'base.html' %}

{% block content %}
<h1>Редагування ідеї {{idea.name}}</h1>
<form method="POST" class="form">
    {% csrf_token %}
    <input type="text" id="name" name="name" value="{{ idea.name }}" required class="input" placeholder="Назва ідеї">
    <textarea id="description" name="description" placeholder="Опис ідеї" required class="textarea">{% autoescape off %}{{ idea.description }}{% endautoescape %}</textarea>
    <button type="submit" class="form-button">Зберегти зміни</button>
</form>

<script>
    ClassicEditor
        .create(document.querySelector('#description'), {
            toolbar: ['heading', '|', 'bold', 'italic', '|', 'link', '|', 'bulletedList', 'numberedList', 'blockQuote']
        })
        .catch(error => {
            console.error(error);
        });
</script>
{% endblock %}
