{% extends 'base.html' %}

{% block content %}
<h1>{{ idea.name }}</h1>
<p>{{ idea.description }}</p>

<div class="idea-action">
    <form method="post" action="{% url 'save_idea' idea_id=idea.id %}">
        {% csrf_token %}
        <button type="submit" class="idea-button">
            <span class="idea-icon">📑</span>
        </button>
    </form>
</div>


{% if idea.author == user %}
<p>
    <a href="{% url 'idea_edit' idea_id=idea.id %}">Редагувати ідею</a>
    <a href="{% url 'idea_delete' idea_id=idea.id %}">Видалити ідею</a>
</p>
  {% endif %}

<h3>Проєкти, створені за допомогою цієї ідеї</h3>
{% for project in projects %}
<div class="project-card">
    <div class="project-info">
        <h2><a href="{% url 'project_detail' project.id %}" style="text-decoration: none">{{ project.name }}</a></h2>
        <p>{{ project.description }}</p>
    </div>
    <div class="project-action">
        <button class="like-button" data-project-id="{{ project.id }}">
            <span class="like-icon">👊</span>
            <span class="like-count">{{ project.likes }}</span>
        </button>
    </div>
</div>
{% empty %}
<p>За цією ідеєю ніхто поки не створював проєктів. Стань першим!</p>
{% endfor %}
<button><a href="{% url 'publish_with_idea' idea.id %}">Створити проєкт за цією ідеєю</a></button>
{% endblock %}


