{% extends 'base.html' %}

{% block content %}
<h1>Самоврядування</h1>
<p class="border">Якщо ти зі своїми товаришами хочеш створити раду на місці вашого навчання, роботи чи проживання, або ти хочеш вступити в одну з наявних рад, щоб взяти участь в управлінні своєю землею, сконтактуй із нами: go-hromada@proton.me</p>
<div class="project-card">
    <div class="project-info">
        <h2>Назва проєкту</h2>
        <p>Опис проєкту тут. Деякий короткий опис або детальний опис проєкту може розміщуватися тут.</p>
    </div>
    <div class="project-action">
        тут буде картинка ради
    </div>
</div>


{% endblock %}