{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2>{% trans "Видалення новини" %} "{{ news.title }}"</h2>

<p>{% trans "Ти точно хочеш видалити новину:" %} "{{ news.title }}"?</p>

<form method="post" action="{% url 'delete_news' project_id=project_id news_id=news_id %}" class="form">
    {% csrf_token %}
    <button type="submit" class="form-button">{% trans "Видалити" %}</button>
</form>

<p><a href="{% url 'news_detail' project_id=project_id news_id=news_id %}">{% trans "Скасувати" %}</a></p>

{% endblock %}