﻿{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Кримська Громада</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
</head>


<body>
    <header>
        <div class="burger-menu">
            <div class="burger-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="menu">
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li><a href="{% url 'search' %}">Пошук</a></li>
                <li><a href="{% url 'publish' %}">Опублікувати</a></li>
                <li><a href="{% url 'wiki' %}">Вікі</a></li>
                <li><a href="{% url 'self-government' %}">Самоврядування</a></li>
            </ul>
        </div>
        <div class="header-div">
            <a href="{% url 'map'%}"><img src="{% static 'img/map.png' %}" alt="" /></a>
            {% if user.is_authenticated %}
            <a href="{% url 'account' user.id%}"><img src="{% static 'img/account.png' %}" alt="" /></a>
            {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'img/account.png' %}" alt="Вхід" /></a>
            {% endif %}
        </div>
    </header>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const burgerIcon = document.querySelector(".burger-icon");
            const menu = document.querySelector(".menu");

            burgerIcon.addEventListener("click", function () {
                menu.classList.toggle("active");
            });
        });
    </script>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a href="/"><img class="logo" src="{% static 'img/logo.svg' %}" alt="" /></a>
        <a href="mailto:go-hromada@proton.me">go-hromada@proton.me</a>
        <div class="footer-div">
            <a href="https://quicknote.io/be9ea5e0-3ef2-11ee-a521-91339c8fe0ee"><img src="{% static 'img/links.png' %}" alt="" /></a>
        </div>
        <div style="display: flex; gap: 10px; align-items: center">
            <p style="margin: 0">Від твоєї Громади в Україні</p>
            <img src="{% static 'img/ukraine.png' %}" />
        </div>
    </footer>
    <script>
        // Отримайте поточну URL сторінки
        var currentURL = window.location.href;

        // Отримайте усі посилання в меню
        var menuLinks = document.querySelectorAll('.menu a');

        // Перевірте кожне посилання в меню
        menuLinks.forEach(function (link) {
            if (link.href === currentURL) {
                // Якщо посилання відповідає поточній сторінці, додайте клас 'active'
                link.classList.add('active');
            }
        });

    </script>

    <!-- Додайте jQuery, якщо ви його ще не додали -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
    function saveProject(projectId) {
        var buttonElementProject = $('#saveProjectForm button[data-project-id="' + projectId + '"]');
        var projectId = $('#saveProjectForm').data('project-id');

        $.ajax({
            type: 'POST',
            url: '/save_project/' + projectId + '/',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                if (data.success) {
                    // Оновлення значення likes на сторінці
                    $('#like-count-' + projectId).text(data.likes);

                    // Встановлення класу на основі того, чи проєкт збережено
                    if (data.message === 'Project saved successfully.') {
                        buttonElementProject.addClass('favorited');
                    } else {
                        buttonElementProject.removeClass('favorited');
                    }

                location.reload();


                }
            },
        });

        // Зупинка стандартної обробки форми
        event.preventDefault();
    }
    </script>



    <script>
        function saveIdea(ideaId) {
            var buttonElementIdea = $('#saveIdeaForm[data-idea-id="' + ideaId + '"] button');
            $.ajax({
                type: 'POST',
                url: '/save_idea/' + ideaId + '/',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.success) {
                        // Додавання або видалення класу 'saved'
                        buttonElementIdea.toggleClass('saved', data.message === 'Idea saved successfully.');
                    }
                }
            });

            // Зупинка стандартної обробки форми
            event.preventDefault();
        }




    </script>



</body>
</html>
