{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<h1>{% trans "Головна" %}</h1>
<div class="callout">
    <div class="callout-icon">⚠️</div>
    <p style="margin: 0">{% trans "Спротиву дуже потрібна підтримка!" %} - <a href="https://quicknote.io/be9ea5e0-3ef2-11ee-a521-91339c8fe0ee">{% trans "Тут" %}</a> {% trans "ти можеш дізнатися, як нам допомогти." %}</p>
</div>
<p>
    {% trans "Ми - платформа для організації децентралізованого спротиву на території Криму." %}
</p>
<p>
    {% trans "Якщо ти хочеш допомогти Спротиву, взявши завдання з рівнем ризику, на який ти готовий піти, почитати про проєкти, які реалізують кримські активісти, або взяти якусь ідею для натхнення - використовуй вкладку" %} <a href="/search">{% trans "Пошук" %}</a>.
</p>
<p>
    {% trans "Якщо ти хочеш дізнатися більше про принципи, за якими функціонує наша платформа, і про те, як тобі самому чи самій взяти участь у спротиві, - читай вкладку" %} <a href="/wiki">{% trans "Вікі" %}</a>.
</p>
<p>
    {% trans "Ти можеш сам створити на платформі проєкт, знаходити ресурси і людей для виконання завдань, публікувати новини про нього - для цього натисни" %} <a href="/publish">{% trans "Опублікувати" %}</a>. {% trans "Там можна також опублікувати ідею, яку підхопить хтось інший." %}
</p>
<p>
    {% trans "На сторінці" %} <a href="/self-government">{% trans "Самоврядування" %}</a> {% trans "ти знайдеш дані про незалежні ради в Криму на місці проживання, навчання чи роботи - а також зможеш взяти участь в кримському самоврядуванні, ініціювавши створення нової ради або вступивши у вже існуючу." %}
</p>
{% endblock %}
