{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<h1>{% trans "Самоврядування" %}</h1>
<p class="border">
    {% trans "Якщо ти зі своїми товаришами хочеш створити раду на місці вашого навчання, роботи чи проживання, або ти хочеш вступити в одну з наявних рад, щоб взяти участь в управлінні своєю землею, сконтактуй із нами: go-hromada@proton.me" %}
</p>
<div class="project-card">
    <div class="project-info">
        <h2>КримРада</h2>
        <p>Складається з представників різних рад і низових організацій.</p>
    </div>
    <div class="project-action">
    </div>
</div>


{% endblock %}